* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  min-height: 370px;
  max-width: 470px;
  /* background: linear-gradient(135deg, #1BFFFF, #2E3192); */
  background: linear-gradient(135deg, #09203F , #537895);
  color: #fff;
  margin: 10px auto 0;
  border-radius: 20px;
  padding: 35px 30px;
  text-align: center;
  position: relative;
}


.card h1 {
  /* height: 50px; */
  color: #ffffff;
  margin-bottom: 40px;
}



.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  width: 100px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
  flex-grow: 1;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 100px;
  margin-top: 10px;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.weather h2 {
  font-size: 60px;
  font-weight: 500;
  /* margin-top: -5px; */
}
.weather h3 {
  font-size: 45px;
  font-weight: 400;
  /* margin-top: -30px; */
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: left; */
  /* border: 2px solid white; */
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.col-detail {
  display: flex;
  flex-direction: column;
}

.humidity,
.wind {
  font-size: 28px;
  /* margin-top: -6px; */
}

.weather {
  display: none;
}

.error {
  font-size: 14px;
  color: red;
  display: none;
  position: absolute;
  top: 175px;
  left: 40px;
}

.suggestBox {
  height: max-content;
  max-height: 190px;
  width: 340px;
  border: 2px solid rgb(43, 167, 220);
  border-radius: 10px;
  margin: 10px;
  overflow-y: auto;
  display: none;
  text-align: left;
  padding: 10px;
  line-height: 22px;
  position: absolute;
  top : 155px;
  z-index: 999;
  background: inherit;
}

.suggestBox li {
  list-style-type: none;
  cursor: pointer;
  color: whitesmoke;
}

.active {
  display: block;
}

.gray {
  background-color: rgb(117, 197, 226);
}

@media (max-width: 470px) {
  h1 {
    font-size: 26px;
  }
  .search input {
    font-size: 14px;
  }
  .weather-icon {
    margin-top: 20px;
    width: 60px;
  }
  .suggestBox {
    width: 260px;
    left: 20px;
  }
  .top h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  .top h3 {
    margin-top: 10px;
    font-size: 24px;
  }
  .weather p {
    font-size: 16px;
  }
  .details img {
    width: 30px;
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 26px;
  }
  .search input {
    font-size: 14px;
  }
  .weather-icon {
    margin-top: 20px;
    width: 60px;
  }

  .top h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  .top h3 {
    margin-top: 10px;
    font-size: 24px;
  }
  .weather p {
    font-size: 14px;
  }
  .details img {
    width: 30px;
  }
}